#main-title {
    text-align: center;
    color: white;
}

#map-area {
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    background-color: dimgrey;
}

#map {
    height: 90%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
  }

.container > div {
    display: inline-block;
    display: -moz-inline-box;
    width: 33%;
    text-align: center;
    margin-top: 2%;
    color: white;
}

.search-block {
    color: white;
}

#search-div {
    text-align: center;
    margin-bottom: 1%;
    margin-top: 4%;
}

#search-button {
    background-color: white; /* Green */
    border: none;
    color: darkcyan;
    padding: 1.2% 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white; 
    padding: 10px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 90%;
}
